<div class="modal fade" id="modalCadastroEtapas" tabindex="-1" aria-labelledby="modalCadastroLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCadastroLabel">Cadastro - Etapa <span id="etapaAtual">1</span> de 4</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
          <div class="etapa" id="etapa-1">
            <div class="mb-3">
              <label for="nome" class="form-label">Nome completo</label>
              <input type="text" class="form-control" id="nome" required>
            </div>
            <div class="mb-3">
              <label for="cpf" class="form-label">CPF</label>
              <input type="text" class="form-control" placeholder="123.456.789-10" id="cpf" maxlength="14" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
              <label for="dataNascimento" class="form-label">Data de nascimento</label>
              <input type="date" class="form-control" id="dataNascimento" required>
            </div>
            <div class="mb-3">
              <label for="senha" class="form-label">Senha</label>
              <input type="password" class="form-control" id="senha" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Tipo de usuário</label>
              <div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="tipoUsuario" id="cliente" value="CLIENTE" checked>
                  <label class="form-check-label" for="cliente">Cliente</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="tipoUsuario" id="prestador" value="PRESTADOR">
                  <label class="form-check-label" for="prestador">Prestador de Serviço</label>
                </div>
              </div>
              <div class="mb-3 mt-3">
                <label class="form-label">Termos e condições gerais e políticas de privacidade</label>
                <div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="sim" id="termosEPrivacidadeCheck">
                    <label class="form-check-label" for="termosEPrivacidadeCheck">Aceito os <a class="cursor-pointer" onclick="modalTermos()">termos e condições gerais de venda e uso</a> e as <a class="cursor-pointer" onclick="modalPrivacidade()">políticas de privacidade</a></label>
                  </div>
                </div>
              </div>
             </div>
          </div>

          <div class="etapa d-none" id="etapa-2">
            <h6>Escolha seu plano:</h6>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="plano" id="planoBasico" value="Básico" checked>
              <label class="form-check-label" for="planoBasico">Plano Básico - Gratuito</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="plano" id="planoPro" value="Profissional">
              <label class="form-check-label" for="planoPro">Plano Profissional - R$ 29,90/mês</label>
            </div>
          </div>

          <div class="etapa d-none" id="etapa-3">
            <h6>Informações de pagamento:</h6>
            <div class="mb-3">
              <label for="nomePagante" class="form-label">Nome</label>
              <input type="text" class="form-control" id="nomePagante" placeholder="Insira o nome de quem enviará o pagamento" required>
            </div>
            <div class="mb-3">
              <label for="cpfPagante" class="form-label">CPF</label>
              <input type="text" class="form-control" id="cpfPagante" placeholder="123.456.789-10" maxlength="14" required>
            </div>
            <!-- IMPLEMENTAR ABACATE PAY QUANDO SUBIR O PROJETO !-->
          </div>

          <div class="etapa d-none text-center" id="etapa-4">
            <h5>Cadastro concluído com sucesso! 🎉</h5>
            <p>Bem-vindo(a) ao AgendaJá. Você será redirecionado em instantes...</p>
          </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btn-voltar" onclick="voltarEtapa()" disabled>Voltar</button>
        <button type="button" class="btn" id="btn-avancar" onclick="avancarEtapa()" style="background-color: #27AE60; color: white">Avançar</button>
      </div>
    </div>
  </div>
</div>
