<!-- Step 1: Dados do Agendamento -->
<div class="modal fade" id="modalNovoAgendamentoCliente" tabindex="-1" role="dialog" aria-labelledby="modalNovoAgendamentoClienteTitulo" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center; width: 100%;">
        <h5 class="modal-title" id="modalNovoAgendamentoClienteTitulo">Novo agendamento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="step1">
          <div class="form-group">
            <input type="hidden" id="prestador">

            <label for="servicoAgendamentoCliente">Serviço*</label>
            <select class="form-control mb-3 form-select" id="servicoAgendamentoCliente" data-live-search="true" title="Selecione um serviço" onchange="atualizarHorariosDisponiveis()">
              <option th:each="servico : ${pagina.servicos}" th:text="${servico.nome} + ' - ' + ${servico.preco}" th:value="${servico.id}" th:data-preco="${servico.preco}"></option>
            </select>

            <label for="dataAgendamentoCliente">Data*</label>
            <input class="form-control mb-3" type="text" id="dataAgendamentoCliente" onchange="atualizarHorariosDisponiveis()">

            <label for="horarioAgendamentoCliente">Horário*</label>
            <select class="form-control mb-3 form-select" id="horarioAgendamentoCliente" title="Selecione um horário">
              <option disabled selected>Selecione uma data</option>
            </select>

            <label for="formaPagamentoCliente">Forma de pagamento*</label>
            <select class="form-control mb-3 form-select" id="formaPagamentoCliente" title="Selecione uma forma de pagamento">
              <option value="PIX">PIX via AgendaJá</option>
            </select>
          </div>
        </div>
      </div>

      <div id="step2" style="display: none;">
        <div class="form-group text-center">
          <h3 style="color: #27AE60; font-weight: bold;" class="mt-1">Está quase lá! 🎉</h3>
          <p class="mb-2" style="font-size: 16px; color: #7F8C8D;">Para finalizar o seu agendamento, por favor, realize o pagamento com o PIX QR Code abaixo.</p>

          <div id="pixDetails" class="mb-2" style="display: block;">
            <p>Valor: <strong id="valorAgendamento"></strong></p>
            <hr class="my-2">
            <img id="qrCodePix" th:data-chave="${pagina.usuario.chavePix}" th:data-nome="${pagina.usuario.nome}" th:data-cidade="${pagina.cidade}" alt="QR Code PIX" class="my-2" style="max-width: 100%; margin: 0 auto; display: block;" />
            <p class="mt-0 mb-1" style="font-size: 16px; color: #7F8C8D;">Ou use a chave pix:</p>
            <div class="flex justify-center items-center">
              <input type="text" id="pixPayloadInput" value="" disabled class="w-70 px-3 py-2 mt-1 text-sm border border-gray-300 rounded text-center cursor-pointer">
              <i class="bi bi-copy text-sm cursor-pointer ml-2" onclick="copiarCodigoPix()"></i>
            </div>
            <span id="copiadoMsg" class="text-xs text-green-500 ml-2 hidden">Código Pix copiado para a área de transferência!</span>
            <p class="text-muted mt-2" style="font-size: 12px; color: #7F8C8D;">*Não feche/recarregue esta página antes de finalizar o agendamento</p>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn" style="background-color: #27AE60; color: white" id="btnProximaEtapa" onclick="passarParaStep2()">
          <i class="bi bi-arrow-right me-1"></i> Próxima Etapa
        </button>
        <button type="submit" class="btn" style="background-color: #27AE60; color: white; display: none;" id="btnFinalizarAgendamento" onclick="salvarAgendamentoCliente()">
          <i class="bi bi-check-circle me-1"></i> Finalizar Agendamento
        </button>
      </div>
    </div>
  </div>
</div>