<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="~{fragments/links :: headContent('')}"></head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AgendaJá - Dashboard</title>

<body class="bg-[#f8fafe]">

<div class="flex min-h-screen">
  <button id="toggleSidebar" class="md:hidden fixed top-2 left-2 z-50 bg-[#27AE60] text-white p-1 rounded">
    <i class="bi bi-arrow-bar-right text-base"></i>
  </button>

  <div id="sidebar" class="fixed md:static top-0 left-0 min-h-screen w-64 bg-white shadow-xl flex flex-col justify-between py-6 px-4 z-40">
    <div>
      <div class="flex items-center gap-2 mb-10">
        <span class="text-xl font-bold">📅 AgendaJá</span>
      </div>
      <nav class="space-y-2">
        <a href="/prestador/home" style="text-decoration: none; color: #7F8C8D" class="flex items-center gap-2 px-3 py-2 bg-[#27AE60] text-white hover:bg-[#1b7a46] rounded-md transition">
          <i class="bi bi-house"></i>
          <span>Home</span>
        </a>
        <a href="/prestador/agendamentos" style="text-decoration: none; color: #7F8C8D" class="text-[#7F8C8D] hover:text-white hover:bg-[#1b7a46] flex items-center justify-between px-3 py-2 rounded-md transition">
          <div class="flex items-center gap-3">
            <i class="bi bi-calendar3"></i>
            <span>Agendamentos</span>
          </div>
          <i class="bi bi-chevron-right text-sm"></i>
        </a>
        <a href="/prestador/servicos" style="text-decoration: none; color: #7F8C8D" class="text-[#7F8C8D] hover:text-white hover:bg-[#1b7a46] flex items-center justify-between px-3 py-2 rounded-md transition">
          <div class="flex items-center gap-3">
            <i class="bi bi-gear"></i>
            <span>Serviços</span>
          </div>
          <i class="bi bi-chevron-right text-sm"></i>
        </a>
        <a href="/prestador/minhapagina" style="text-decoration: none; color: #7F8C8D" class="text-[#7F8C8D] hover:text-white hover:bg-[#1b7a46] flex items-center justify-between px-3 py-2 rounded-md transition">
          <div class="flex items-center gap-3">
            <i class="bi bi-shop"></i>
            <span>Minha página</span>
          </div>
          <i class="bi bi-chevron-right text-sm"></i>
        </a>
        <a href="/prestador/configuracoes" style="text-decoration: none; color: #7F8C8D" class="text-[#7F8C8D] hover:text-white hover:bg-[#1b7a46] flex items-center justify-between px-3 py-2 rounded-md transition">
          <div class="flex items-center gap-3">
            <i class="bi bi-sliders2-vertical"></i>
            <span>Configurações</span>
          </div>
          <i class="bi bi-chevron-right text-sm"></i>
        </a>
      </nav>
    </div>

    <div class="relative px-2 mt-4">
      <div class="flex items-center justify-between cursor-pointer" id="userToggle">
        <div class="flex items-center gap-3">
          <i class="bi bi-person-circle text-xl"></i>
          <div>
            <p class="text-sm font-semibold mb-1 pb-1" th:text="${usuario.nome.split(' ')[0]}"></p>
            <p class="text-xs text-gray-400 mt-1 pt-1" th:text="'Plano ' + ${usuario.planoSelecionado}"></p>
          </div>
        </div>
        <i id="chevronIcon" class="bi bi-chevron-down text-sm text-gray-500 transition-all duration-300"></i>
      </div>

      <div id="userMenu" class="absolute bottom-full right-0 mb-2 bg-white shadow-md rounded p-2 w-32 hidden z-40">
        <a href="/logout" class="block text-sm text-gray-700 hover:bg-gray-100 px-3 py-1 rounded" style="text-decoration: none; color: #7F8C8D">Sair</a>
      </div>
    </div>
  </div>

  <main class="container mx-auto p-6 flex-1">
  <!-- cards !-->
  <section class="container mt-4 mb-8">
    <section class="mb-4">
      <h2 class="text-xl font-semibold text-shadow">
        Olá, <span th:text="${usuario.nome.split(' ')[0]}"></span> 👋
      </h2>
    </section>

    <div class="card shadow-md border-0 rounded-4 p-4 transition duration-300 hover:shadow-lg hover:scale-[1.02]">
      <div class="d-flex flex-wrap flex-md-nowrap justify-content-between align-items-center gap-4">

        <div class="d-flex align-items-center gap-3 flex-grow-1" th:classappend="${qtdeAgendamentosProximos == 0} ? ' opacity-50'">
          <div class="icon-circle bg-light-green">
            <i class="bi bi-pin-angle fs-2 text-success"></i>
          </div>
          <div>
            <div class>Agendamentos próximos</div>
            <div class="fs-4 fw-bold" th:text="${qtdeAgendamentosProximos}">x</div>
          </div>
        </div>

        <div class="vr d-none d-md-block mx-2"></div>

        <!-- Card 2 -->
        <div class="d-flex align-items-center gap-3 flex-grow-1" th:classappend="${agendamentosPendentes == 0} ? ' opacity-50'">
          <div class="icon-circle bg-light-green">
            <i class="bi bi-hourglass fs-2 text-success"></i>
          </div>
          <div>
            <div class="text-muted">Agendamentos pendentes</div>
            <div class="fs-4 fw-bold" th:text="${agendamentosPendentes}">x</div>
            <small class="text-muted" style="font-size: 0.8rem">Agendamentos aguardando confirmação</small>
          </div>
        </div>

        <div class="vr d-none d-md-block mx-2"></div>

        <!-- Card 3 -->
        <div class="d-flex align-items-center gap-3 flex-grow-1" th:classappend="${receitaMes == 'R$ 0,00'} ? ' opacity-50'">
          <div class="icon-circle bg-light-green">
            <i class="bi bi-wallet fs-2 text-success"></i>
          </div>
          <div>
            <div class="text-muted">Receita do mês</div>
            <div class="fs-4 fw-bold" th:text="${receitaMes}"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container mt-4">
    <div class="p-6 bg-white rounded-2xl shadow transition duration-300 hover:shadow-lg hover:scale-[1.02]">
      <div class="flex justify-between items-center mb-4">
        <div>
          <h2 class="text-xl font-bold">Próximos agendamentos <a href="/prestador/agendamentos" style="text-decoration: none; color: #7F8C8D"><i class="bi bi-box-arrow-up-right text-sm align-middle" data-bs-toggle="tooltip" data-bs-placement="right" title="Ir para agendamentos"></i></a>
          </h2>
          <p class="text-sm text-emerald-500 font-semibold">Agendamentos confirmados previstos para os próximos 5 dias</p>
        </div>
      </div>

      <table class="w-full text-left text-sm" id="tableAgendamentosHome">
        <thead>
        <tr class="text-gray-500 font-semibold border-b text-center">
          <th class="pb-3">Data</th>
          <th class="pb-3">Cliente</th>
          <th class="pb-3">Serviço</th>
        </tr>
        </thead>
        <tbody class="text-gray-700">
        <tr class="group border-b transition h-16" th:each="agendamento : ${agendamentos}">
          <td class="text-center group-hover:bg-gray-50">
              <span th:if="${agendamento.data == hoje}" class="badge bg-success text-white" data-bs-toggle="tooltip" data-bs-placement="left" title="Agendamento hoje">
                <span class="text-base" th:text="${#temporals.format(agendamento.data, 'dd/MM/yyyy')} + ', ' + ${agendamento.horario}"></span>
              </span>
            <span th:if="${agendamento.data != hoje}">
                <span th:text="${#temporals.format(agendamento.data, 'dd/MM/yyyy')} + ', ' + ${agendamento.horario}"></span>
              </span>
          </td>
          <td class="text-center group-hover:bg-gray-50">CLIENTE</td>
          <td class="text-center group-hover:bg-gray-50" th:text="${agendamento.servico.nome}"></td>
        </tr>
        </tbody>

        <tbody>
          <tr th:if="${#lists.isEmpty(agendamentos)}">
            <td colspan="3" class="text-center text-muted py-4">
              Nenhum agendamento próximo confirmado.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</main>
</div>
<footer th:replace="~{fragments/scripts :: scriptsContent('/assets/js/prestador/home.js')}"></footer>
</body>
</html>